body{
     margin: 0;
     padding: 0;
     background-color:  gray;
     font-family: 'Montserrat', sans-serif;
     position: relative;
 }
 .container{
     width: 100%;
     /* margin-left: 20px; */
     position: absolute;
 }
 form{
     position: absolute;
     width: 270px;
     left: 270px;
     margin: 100px auto  0 auto;
     padding: 20px;
     box-shadow: 0 4px 8px 0 #30475e, 0 4px 8px 0 #30475e;
     color: black;
     background-color: #fff;
     cursor: pointer;
     border-radius: 20px;
 }
 h1{
     text-align: center;
 }
 .box{
     width: 100%;
     padding: 10px;
     border: none;
     border-radius: 15px;
     box-sizing: border-box;
     margin: 10px 0 15px 0;
     color: #fff;
     background-color: #30475e;
 }
 .div1{
     display: inline-block;
     
 }
 .box2{
     border: none;
     border-radius: 15px;
     padding: 10px;
     color: #fff;
     margin: 10px 0 15px 0;
     background-color: #30475e;
 }
 .btn{
     width: 49%;
     padding: 10px;
     border: none;
     border-radius: 15px;
     background-color: #3366ff;
     font-size: 18px;
     color: #fff;
 }
 .disc{
     font-family: sans-serif;
     font-size: 1rem;
     /* text-indent: 3rem; */
     line-height: 1.7;
     justify-content: center;
 }
 .invoice {
     position: absolute;
     top:120px;
     right: 280px;
     width:25vw;
     height: 15vh;
     padding: 30px;
     line-height: 2;
     background-color: #fff;
     border-radius: 20px;
 }
 .down1{
     position: absolute;
     top:30px;
     right: 60px;
     line-height: 2;
 }
 .down2{
     position: absolute;
     top:62px;
     right: 60px;line-height: 2;
 }
 .down3{
     position: absolute;
     top:97px;
     right: 60px;line-height: 2;
 }
 .down4{
     position: absolute;
     top:127px;
     right: 60px;line-height: 2;
 }
 .bold{
     font-weight: bold;
 }
 .remove{
     position: absolute;
     bottom: 80px;
     right: 280px;
     top:350px;
     width:17vw;
     height: 28vh;
     background-color: #fff;
     border-radius: 20px;
     padding: 30px;
     justify-content: center;
 }
 .remove_btn{
     color: #fff;
     position: absolute;
     bottom: 80px;
     right: 320px;
     top:530px;
     width:14vw;
     height: 8vh;
     background-color: #fff;
     border-radius: 15px;
     padding: 20px;
     justify-content: center;
     background-color: brown;
     font-size: 1.2rem;
     justify-content: center;
 }
 .take{
     position: absolute;
     bottom: 80px;
     right: 350px;
     top:590px;
     justify-content: center;
 }
 @media screen and (max-width: 600px){
     body{
         padding: 20px;
     }
     form{
         width: 100%;
         box-sizing: border-box;
     }
     .div1{
         display: block;
     }
     .box2{
         width: 100%;
         box-sizing: border-box;
     }
 }
